@import url("https://fonts.googleapis.com/css?family=Ubuntu");
:root {
  --radius: 6px;
  --spacing: 8px;
  --shadow: 0 1px 6px 0 #DCDEE3;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Ubuntu", arial, sans-serif;
}

.container {
  width: 100%;
  max-width: 768px;
  padding: calc(var(--spacing) * 2) 0;
  margin: calc(var(--spacing) * 2) auto;
  background: #f3f3f3;
  border-radius: var(--radius);
}

#app {
  margin: 0 auto;
  width: 70%;
}

input {
  margin: 0 auto calc(var(--spacing) * 2);
  display: block;
  width: 100%;
  padding: var(--spacing);
  font-size: 14px;
  box-sizing: border-box;
  font-family: inherit;
  resize: none;
  outline: none;
  border: none;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
}

.btn--submit {
  display: block;
  margin: 0 auto calc(var(--spacing) * 2);
  border-radius: var(--radius);
  padding: var(--spacing) calc(var(--spacing) * 1.5);
  background: #1E9CC0;
  font-family: inherit;
  text-transform: uppercase;
  color: white;
  border: none;
  outline: none;
  font-size: 14px;
  cursor: pointer;
}

.message__container {
  display: flex;
  margin-bottom: var(--spacing);
  border-radius: var(--radius);
  padding: calc(var(--spacing));
  border: none;
  font-size: 15px;
  background: white;
  box-shadow: var(--shadow);
}
.message__container > div:first-child {
  flex: 1;
  margin-right: calc(var(--spacing) * 2);
  white-space: pre-wrap;
}

.input--form {
  position: fixed;
  width: 96%;
  bottom: 0px;
  margin-left: 2%;
  margin-right: 2%;
  background-color: white;
}

@media (min-width: 767px) {
  .chat--box{
    margin-bottom: 20%;
  }
}
@media (max-width: 767px) {
  .chat--box{
    margin-bottom: 30%;
  }
}

.chat--box{
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
}


.typewriter {
  color: hsl(0, 0%, 28%);
  /* font-size: 50px!important; */
  font-weight: bold!important;
  font-family: monospace;
  letter-spacing: 1px!important;
  cursor: pointer;
  /* text-transform: uppercase; */
}

.typewriter {
  /* padding: 64px; */
  background: linear-gradient(to right, hsl(0, 0%, 16%) 0, hsl(0, 0%, 100%) 10%, hsl(0, 0%, 18%) 20%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
}

@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 600px;
  }
  100% {
    background-position: 600px;
  }
}